BPMN-Eclipse/bpmn/structure.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://byu.edu/structure.xsd"  elementFormDefault="qualified">

<xs:element name="structure">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="count" type="xs:integer"/>
      <xs:element name="isReady" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
